---
import Link from "./ui/link.astro";

---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-24 mx-auto rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Book with Bryan
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Trust over 30 years of hair dressing experience and love your look.
  </p>
  <div class="flex mt-5">
    <Link href="/book" style="inverted">Book Online</Link>
  </div>
</div>
