---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Female Style Cut",
    description:
      "$79",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Female Trim",
    description:
      "$49",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Male Style Cut",
    description:
      "$59",
    icon: "bx:bxs-data",
  },
  {
    title: "Male Trim",
    description:
      "$39",
    icon: "bx:bxs-bot",
  },
  {
    title: "Children's Style Cut",
    description:
      "$39",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Children's Trim",
    description:
      "$19",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 id="secondaryHero" class="text-3xl lg:text-6xl font-bold lg:tracking-tight">
    Hair by Bryan
  </h2>
  <div class="flex flex-col md:flex-row">
    <p class="text-lg mt-4 text-slate-600 w-full lg:w-1/3 mb-8 pr-4 lg:pr-8 max-w-4xl">
      Welcome to Brie Hair! Our team of skilled stylists is dedicated to helping you achieve your desired look. 
      We offer a wide range of hair services, including cutting, coloring, styling, and treatments. With over 
      30 years of experience, our founder Bryan has perfected the art of hairdressing and is passionate about 
      helping you feel confident and beautiful.
    </p>
    <p class="text-lg mt-4 text-slate-600 w-full lg:w-1/3 mb-8 pr-4 lg:pr-8 max-w-4xl">
      At Brie Hair, we believe that every client deserves personalized attention and a customized\ approach to 
      hair styling. Whether you're looking for a dramatic change or a subtle touch-up, our team will work with 
      you to create a look that suits your unique style and personality.
    </p>
    <p class="text-lg mt-4 text-slate-600 w-full lg:w-1/3 mb-8 pr-4 lg:pr-8 max-w-4xl">
      We take pride in our commitment to using only the highest quality hair products, including top brands such 
      as Kevin Murphy, Oribe, and Wella. Our salon is also committed to sustainability, using eco-friendly 
      products and implementing green practices whenever possible.  
    </p>
  </div>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
