<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    BrieHair - Hair by Bryan Copyright © {new Date().getFullYear()}. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Built on <a
      href="https://velocity.aidxn.com/"
      alt="ultra fast web design starter pack - gold coast web designers"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Velocity V7
    </a>. Design by <a
      href="https://aidxn.com/"
      alt="The most recommended gold coast web designers and digital marketers"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Aidxn Design
    </a>
  </p>
</footer>
