---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hair-hero.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main id="heroSection" class="grid lg:grid-cols-2 place-items-center mt-24 md:my-12">
  
  <style>
    svg{width:100%;height:100%;perspective:50px}circle{stroke:#6D00A8;stroke-width:8px;fill:none}.equator{transform:rotateZ(-20deg) rotateX(125deg)}.meridian{animation:2s linear infinite turn;transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--start))}@keyframes turn{100%{transform:rotateZ(-20deg) rotateX(35deg) rotateY(var(--end))}}
    #heroTagline{font-size: 8vw;}
  </style>
  
  <div class="py-6 w-full block">

    <div class="py-6">
      <h1 style="heroTagline" class="text-6xl lg:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        The Art of Hair.
      </h1>
      <p class="text-lg mt-6 text-slate-700 max-w-xl">
        With over 30 years of experience, we have perfected the art of hairdressing. Passionate about helping you feel confident and beautiful.
        Offering a wide range of hair services, including cutting, coloring, styling, and treatments. Perfect the hair style you've always wanted.
        <wbr>
      </p>
      <div class="mt-12 flex flex-col sm:flex-row gap-3">
        <a href="/book" target="_blank" rel="noopener" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-8 py-4 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
          
          Book

        </a>
        <a href="/pricing" rel="noopener" target="_blank" class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-8 py-4 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center">
          
          Pricing

        </a>
      </div>
    </div>
  </div>
  <div class="py-6 w-full max-h-fit block">
    <div id="heroArea" class="">
      <Picture
                src={heroImage}
                alt="Brie Hair - Gold Coast Hair Dresser"
                sizes="(max-width: 225px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="contain"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
    </div>

  </div>
</main>
