---
// @ts-ignore
import { Icon } from "astro-icon";

---

<div class="mt-16 md:mt-0">
  <h2 id="secondaryHero" class="text-3xl lg:text-4xl font-bold lg:tracking-tight">
    With over 30 years of experience, Bryan has perfected the art of hair and styling. Passionate about helping you feel confident and beautiful.
  </h2>
</div>

