---
// @ts-ignore
import { Icon } from "astro-icon";

---

<div class="pt-36 lg:pt-48 pb-8 md:pb-24">
  <h2 id="secondaryHero" style="line-height: 125%;" class="max-w-6xl font-semibold text-4xl lg:text-6xl lg:tracking-tight">
    With over 30 years of experience, Bryan has perfected the art of hair and styling. Passionate about helping you feel beautiful.
  </h2>
</div>

