---
// @ts-ignore
import { Icon } from "astro-icon";

---

<div class="mt-24 md:my-12">
  <h2 id="secondaryHero" class="text-4xl lg:text-6xl font-bold lg:tracking-tight">
    With over 30 years of experience, Bryan has perfected the art of hair and styling. Passionate about helping you feel beautiful.
  </h2>
</div>

