
---
// @ts-ignore
import { Picture } from "@astrojs/image/components";
import kueneLogo from 'assets/kuene.png';
import muktiLogo from 'assets/mukti.png';
import davroeLogo from 'assets/davroe.png';
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Using only the best products</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Picture
                src={kueneLogo}
                alt="Kuene Hair Dressing products"
                sizes="(max-height: 150px) 100vw, 150px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="contain"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
    <Picture
                src={muktiLogo}
                alt="Mukti Hair Dressing products"
                sizes="(max-height: 150px) 100vw, 150px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="contain"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
    <Picture
                src={davroeLogo}
                alt="Davroe Hair Dressing products"
                sizes="(max-height: 150px) 100vw, 150px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="contain"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
  </div>
</div>
