
---
// @ts-ignore
import kueneLogo from 'assets/kuene.png';
import muktiLogo from 'assets/mukti.png';
import davroeLogo from 'assets/davroe.png';
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Using only the best products</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src={kueneLogo} class="h-16 md:h-28" />
    <img src={muktiLogo} class="h-16 md:h-28" />
    <img src={davroeLogo} class="h-16 md:h-28" />
  </div>
</div>
